{#
/**
 * Available variables:
 * - ul_base_class - base classname
 * - ul_element_class - element classname "nostyle"
 * - icon_align - "before" or "after"
 * - icon_name -  "namofyoursvg"
 * -
 * -
 * -
 * -
 * Available block:
 * - list_content
 *
 * Usage:
 * with default values
 * {% include "@atoms/03-lists/03-ul-with-icon.twig"
 * with {
 * "ul_item": ul_item.content,
 * }
 * %}
 *
 * with custom values

 * {% include "@atoms/03-lists/03-ul-with-icon.twig"
 * with {
 * "ul_item": ul_item.content,
 * "ul_element_class": "nostyle",
 * "icon_align": "before",
 * "icon_name": "disc",
 * "list_content_class": "list-icon__content",
 * "ul_modifiers": ["icon"],
 * }
 * %}
 *
 * svgs are here:
 * components/_patterns/01-atoms/10-icon/svg
 */
#}

{% set ul_base_class = ul_base_class|default('list') %}
{% set ul_element_class = ul_element_class|default('nostyle') -%}
{% set icon_align = icon_align|default('before') %}
{% set icon_name = icon_name|default('disc') %}
{% set list_content_class = list_content_class|default('list-icon__content') %}
{% set ul_modifiers = ul_modifiers|default('icon') %}
{% set ul_modifier %}
    {% for ulitem in ul_modifiers %}{{ ul_base_class }}--{{ ulitem }} {% endfor %}
{% endset %}
{% set ul_classes %}{% if ul_base_class %}class="{{ ul_base_class|clean_class }} {% if ul_element_class %}{{ ul_base_class|clean_class }}__{{ ul_element_class|clean_class }}{% endif%}{% if ul_modifiers %}{{ ul_modifier|clean_class }}{% endif %}"{% endif %}{% endset %}

<ul {{ ul_classes }}>
  {% block list_content %}
    {% for ul_item in ul_items %}

      {% embed "@atoms/03-lists/_list-item.twig" with {
        "li_base_class": li_base_class,
        "li_element_class": li_element_class,
        "li_modifiers": ["icon"],
        "li_content": ul_item.content,
      } %}

          {% block list_item_content %}
              {% if icon_align == 'before' %}
                  {% include "@atoms/10-icon/01-icon.twig"
                  with {
                  "icon_basename" : "list-icon",
                  "icon_modifiers": ["before"],
                  }
                  %}
              {% endif %}
              <div class="{{ list_content_class }}">
                  {{ li_content }}
              </div>
              {% if icon_align == 'after' %}
                  {% include "@atoms/10-icon/01-icon.twig"
                  with {
                  "icon_basename" : "list-icon",
                  "icon_modifiers": ["after"],
                  }
                  %}
              {% endif %}
          {% endblock %}

      {% endembed %}

    {% endfor %}
  {% endblock %}
</ul>
