{#
/**
 * Available variables:
 * - radio_item
 * - form_item_class - custom-form-item-class
 * - form_item_modifiers - ['custom-modifier1', 'custom-modifier2']
 * - form_legend_class - custom-form-legend-class - f.E: if you want the legend "invisible": 'sr-only'
 * - form_item_radio_modifiers - ['custom-radio-modifier1']
 * - form_legend_text - Legend text
 *
 * Usage:
 *
 * {% include "@atoms/05-forms/radio/radio.twig" %}
 *
 * {% include "@atoms/05-forms/radio/radio.twig"
 * with {
 * "radio_item": "item content",
 * "radio_label": "Label text",
 * "radio_value": "custom_value",
 * "radio_name": "custom_name",
 * "form_legend_text": "Custom legend text",
 * }
 * %}
 *
 */
#}

{% set form_item_class = form_item_class|default('form-item') %}
{% set form_item_modifiers = form_item_modifiers|default(['radio']) %}
{% set form_item_radio_modifiers = form_item_radio_modifiers|default(['radio']) %}
{% set form_legend_text = form_legend_text|default('')%}
{% set form_legend_class = form_legend_class|default('legend')%}
{% set form_legend %}
    class="{{ form_legend_class }}"
{% endset %}

{% spaceless %}
{% if prefix is not empty %}
    {{ prefix }}
{% endif %}
<div {{ bem(form_item_class, form_item_modifiers) }}>
    <legend {{ form_legend }}>{{ form_legend_text }}</legend>
    <ul {{ bem(form_item_class, form_item_radio_modifiers) }}>
        {% if pl_only %} {# Pattern lab #}
            {% for key, listItem in listItems.four %}
                {% include "@atoms/05-forms/radio/_radio-item.twig"
                with {
                "radio_label_text": listItem.title,
                }
                %}
            {% endfor %}
        {% else %} {# Drupal #}
            {# see components/_patterns/01-atoms/05-forms/radio/_radio-item.twig #}
            {# see templates/form/input--radio.html.twig #}
            {{ children }}
        {% endif %}
    </ul>
    {% if label_display == 'after' %}
        {{ label }}
    {% endif %}
    {% if errors %}
        <div class="form-item--error-message">
            {{ errors }}
        </div>
    {% endif %}
</div>
{% if suffix is not empty %}
    {{ suffix }}
{% endif %}
{% endspaceless %}