{#
/**
 * Available variables:
 * - button_content - content of the button
 * - button_base_class - base class name
 * - button_modifiers - modifierclassname
 * - button_element_class - element class name
 * - aria_describedby - f.E.: button-submit, button-like, button-delete, ...
 * - button_id - Id of the button
 * - button_description_text - Button description for screen readers
 * - aria_pressed - default value is "false"
 * - button_type - f.E.: "submit"
 * - button_width_value  - for full width use "full"
 * - button_align - use "center" for centering, use "right" for right alignment
 * - data_dismiss_value
 * - aria_label
 *
 * Available blocks:
 * - button_content
 * Usage:
 *
 * {% include "@atoms/06-buttons/01-button-close.twig" %}
 *
 */
#}
{% set button_content = button_base_class|default('') %}
{% set button_description_text %}
    {{ 'Close'|t }}
{% endset %}
{% set button_base_class = button_base_class|default('button') %}
{% set button_element_class = button_element_class|default('') -%}
{% set button_modifiers = button_modifiers|default(['close', 'message']) %}
{% set button_align = button_align |default('') %}
{% set button_width_value = button_width_value |default('') %}
{% if button_width_value == 'full' %}
    {% set button_width = button_base_class~'--full' %}
{% endif %}
{% set button_modifier %}
    {% for buttonitem in button_modifiers %}{{ button_base_class }}--{{ buttonitem }} {% endfor %}
{% endset %}
{% set button_classes %}{% if button_base_class %}class="{{ button_base_class }}{% if button_element_class %} {{ button_base_class }}__{{ button_element_class }}{% endif%}{% if button_modifiers %}{{ button_modifier }}{% endif %} {{ button_width }}"{% endif %}{% endset %}

{% set aria_describedby = aria_describedby|default('button-close') %}
{% set button_id = button_id|default('button-close') %}
{% set button_type_value = button_type_value|default('') %}
{% set button_type %}
    {% if button_type_value %}
        type="{{ button_type_value }}"
    {% endif %}
{% endset %}
{% set aria_label %}
aria-label="{{ 'Close'|t }}"
{% endset %}
{% set data_dismiss_value = data_dismiss_value|default('alert') %}
{% set data_dismiss %}
    {% if data_dismiss_value is not empty %}
        data-dismiss="data_dismiss_value"
    {% endif %}
{% endset %}

{% if button_align == 'center' %}
<div class="align-center">
{% elseif button_align == 'right' %}
 <div class="align-right">
{% endif %}
<button {{ button_classes }} id="{{ button_id }}" {{ aria_label }} aria-describedby="{{ aria_describedby }}" {{ button_type }} data-dismiss="alert">
 {% block button_content %}
 <span aria-hidden="true">
     {% include "@atoms/10-icon/01-icon.twig"
     with {
     "icon_name": "close",
     "icon_basename" : "close-icon",
     "icon_modifiers": ['status'],
     }
     %}
 {{ button_content }}
</span>
  {% endblock %}
  <span id="{{ aria_describedby }}" class="sr-only">{{ button_description_text }}</span>
</button>

{% if button_align is not empty %}
</div>
{% endif %}