{#
/**
 * Available variables:
 * - form_item_class - custom-form-item-class
 * - form_item_modifiers - ['custom-modifier1', 'custom-modifier2']
 * - select_id
 * - select_label_class_name - custom class names - f.E: if you want the legend "invisible": 'sr-only' - if you want to display the Label text use: "form-item__label form-item__label--textfield"
 * - form_item_dropdown_class_name - dropdown class name
 * - select_label_text - Label text
 * - label_text_visibility - set to "sr-only" to make label invisible
 * - form_item_select_class_name - class name for select item
 * - option_label - label for option
 * - optgroup_label - label for optgroup
 *
 * Usage:
 *
 * {% include "@atoms/05-forms/select/select.twig" %}
 *
 * {% include "@atoms/05-forms/select/select.twig"
 * with {
 * "select_label_text": "Select label text",
 * "label_text_visibility": "sr-only",
 * "select_item": "item content",
 * "select_label_text": "Label text",
 * "select_label_class_name": "your custom class",
 * }
 * %}
 *
 */
#}
{% set label_text_visibility_value = label_text_visibility_value|default('') %}

{% set form_item_class = form_item_class|default('form-item') %}
{% set form_item_modifiers = form_item_modifiers|default(['select']) %}
{% set select_id = select_id|default('select') %}
{% set select_label_class_name = select_label_class_name|default(label_text_visibility~' form-item__label form-item__label--textfield') %}

{% set select_label_class %}
    {% if select_label_class_name %}
        class="{{ select_label_class_name }}"
    {% endif %}
{% endset %}
{% set form_item_dropdown_class_name = form_item_dropdown_class_name|default('form-item__dropdown') %}
{% set form_item_dropdown_class %}
    class="{{ form_item_dropdown_class_name }}"
{% endset %}
{% set select_label_text = select_label_text|default('Age') %}
{% set form_item_select_class_name = form_item_select_class_name|default('form-item__select') %}
{% set form_item_select_class %}
    class="{{ form_item_select_class_name }}"
{% endset %}
{% spaceless %}
<div {{ bem(form_item_class, form_item_modifiers) }}>
  <label for="{{ select_id }}{{ key }}" {{ select_label_class }}>{{ select_label_text }}</label>

    {% if prefix is not empty %}
       {{ prefix }}
    {% endif %}
    {% if description_display == 'before' and description.content %}
        <div{{ description.attributes }}>
            {{ description.content }}
        </div>
    {% endif %}
  <div {{ form_item_dropdown_class }}>
      <select id="{{ select_id }}{{ key }}" {{ form_item_select_class }}>
        {% if pl_only %} {# Pattern lab #}
           {% for key, listItem in listItems.six %}
              {% include "@atoms/05-forms/select/_select-item.twig" with {
                "select_item": listItem.title
              } %}
            {% endfor %}
        {% else %} {# Drupal #}
            {% for key, select_item in element['#options'] %}
                {% include "@atoms/05-forms/select/_select-item.twig" %}
            {% endfor %}
        {% endif %}
      </select>
  </div>
    {% if suffix is not empty %}
        {{ suffix }}
    {% endif %}
    {% if label_display == 'after' %}
        {{ label }}
    {% endif %}
    {% if errors %}
        <div class="form-item--error-message">
            {{ errors }}
        </div>
    {% endif %}
    {% if description_display in ['after', 'invisible'] and description.content %}
        <div{{ description.attributes.addClass(description_classes) }}>
            {{ description.content }}
        </div>
    {% endif %}
</div>
{% endspaceless %}