{#
/**
 * @file
 * Theme override to display a node.
 *
 * Usage:
 * {% if display_submitted %}
 *   {% include "@molecules/author_info/author_info.twig"
 *   with {
 *   "author_name": author_name,
 *   "img_src": drupal_token('node:author:user_picture:profile_user_picture', {node: node}),
 *   "img_alt": author_name|render|striptags,
 *   "figcaption_text": author_name|render|striptags,
 *   "image_element_class": "author",
 *   "image_url": drupal_token('node:author:url', {node: node}),
 *   "image_link_element_class": 'author',
 *   "link_element_class": 'author',
 *   }
 *   %}
 * {% endif %}
 *
 * @see template_preprocess_node()
 */
#}





{% set author_picture_wrapper_class = author_picture_wrapper_class|default('author') %}
{% set author_info_class = "author__info" %}
{% set nodecreationdate = node.createdtime|date('d.m.Y') %}
{% block author_content %}
    <div class="{{ author_picture_wrapper_class }}">
        {% include "@atoms/04-images/00-image/image-figure.twig" %}
        <div class="{{ author_info_class }}">
            {% if pl_only %}
            {# Pattern lab #}
                Submitted by Firstname Lastname
            {% else  %}
           {# Drupal #}
                {{ 'Submitted by'|t }} {{ author_name }}
            {% endif %}
            {% if pl_ony %}
            {# Pattern lab #}
                <br /> created on {{ nodecreationdate }}
            {% else  %}
           {# Drupal #}
                <br />{{ 'created on'|t }} {{ nodecreationdate }}
            {% endif %}
        </div>
    </div>
{% endblock %}

